<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 "
  style="max-height:100vh; overflow:hidden" id="sidenav-main">
  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
      aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0" href="https://demos.creative-tim.com/soft-ui-dashboard/pages/dashboard.html"
      target="_blank">
      <h4 class="ms-1 font-weight-bold">TIMED</h4>
    </a>
  </div>
  <hr class="horizontal dark mt-0">
  <div class="collapse navbar-collapse  w-auto  max-height-vh-100 h-100" id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/admin/">
          <h5 class="nav-link-text ms-1 d-flex align-items-center ">
            <i class="ri-bar-chart-fill me-2"></i>
            Dashboard</h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/product">
          <h5 class="nav-link-text ms-1 d-flex align-items-center">`
            <i class="ri-time-fill me-2"></i>
            Products</h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/category">
          <h5 class="nav-link-text ms-1 d-flex align-items-center ">
            <i class="ri-grid-fill me-2"></i>
            Category</h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/orders">
          <h5 class="nav-link-text ms-1 d-flex align-items-center">
            <i class="ri-shopping-bag-2-fill me-2"></i>
            Orders</h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/admin/banners">
          <h5 class="nav-link-text ms-1 d-flex align-items-center ">
            <i class="ri-percent-fill me-2"></i>
            Banner</h5>
        </a>
      </li>
      <a class="nav-link " href="/admin/coupons">
        <h5 class="nav-link-text ms-1 d-flex align-items-center ">
            <i class="ri-ticket-fill me-2"></i>
            Coupons</h5>
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link active " href="/admin/sales-report">
        <h5 class="nav-link-text ms-1 d-flex apaidlign-items-center ">
            <i class="ri-bar-chart-fill me-2"></i>
            Sales Report</h5>
      </a>
      </li>
    </ul>
  </div>
</aside>
<main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
  <!-- Navbar -->
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
    navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4 justify-content-between" id="navbar">
        <h2>Products</h2>
        <ul class="navbar-nav  justify-content-end">
          <li class="nav-item">
            <a href="/admin/logout" class="nav-link text-body font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="container-fluid py-4">
    <div class="row">
          <div class="container-fluid filter-head pt-4 tablesHeader">
       <h5>Filter by date : </h5>
      <form action="/admin/sales-report" class="d-flex w-100 w-md-25 align-items-center" method="get">
        <input type="date" class="form-control" name="startDate" value="{{startDate}}" onchange="this.form.submit()">
        <i class="ri-arrow-right-fill"></i>
        <input type="date" class="form-control" name="endDate" value="{{endDate}}" onchange="this.form.submit()">
      </form>
    </div>
    <div class="row">
                  <h5 style="margin-right: 36px;" class="mt-3">Filter by : </h5>
       <div class="container-fluid d-flex align-items-end filter-box" style="gap: 10px;">
                  <a href="/admin/sales-report?filter=lastWeek" class="btn  {{#ifEqual filter "lastWeek"}}btn-dark {{else}} btn-outline-dark {{/ifEqual}}" >Last week</a>
                  <a href="/admin/sales-report?filter=lastMonth" class="btn {{#ifEqual filter "lastMonth"}}btn-dark {{else}} btn-outline-dark {{/ifEqual}}">Last month</a>
                  <a href="/admin/sales-report?filter=thisMonth" class="btn {{#ifEqual filter "thisMonth"}}btn-dark {{else}} btn-outline-dark {{/ifEqual}}">This Month</a>
                  <a href="/admin/sales-report?filter=lastYear" class="btn {{#ifEqual filter "lastYear"}}btn-dark {{else}} btn-outline-dark {{/ifEqual}}">Last Year</a>
                  <a href="/admin/sales-report?filter=thisYear" class="btn {{#ifEqual filter "thisYear"}}btn-dark {{else}} btn-outline-dark {{/ifEqual}}">This year</a>
                </div>
    </div>
    <div class="report-btns container-fluid tablesHeader">
      <h3 >Sales Report</h3>
      <div>
        <button onclick="downloadExcel()" class="btn btn-outline-dark ">Download in Excel</button>
        <button onclick="downloadPdf()" class="btn btn-dark ">Download in PDF</button>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h3>Sales Details</h3>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Type</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Values</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">Total Orders</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{totalOrders}}</p>
                      </td>                      
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">Total Revenue</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{totalRevenue}}</p>
                      </td>                      
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">Total Dispatch</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{totalDispatch}}</p>
                      </td>                      
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">Total Pending</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{totalPending}}</p>
                      </td>                      
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h3>Category Details</h3>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Type</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Profit</th>
                      {{!-- <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Quantity</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Price</th> --}}
                    </tr>
                  </thead>
                  <tbody>
                    {{#each categories}}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{this._id}}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{this.profit}}</p>
                      </td>                      
                    </tr>
                    {{/each}}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h3>Brand Details</h3>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Type</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Profit</th>
                      {{!-- <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Quantity</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Price</th> --}}
                    </tr>
                  </thead>
                  <tbody>
                    {{#each byBrand}}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{this._id}}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{this.profit}}</p>
                      </td>                      
                    </tr>
                    {{/each}}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.1/xlsx.full.min.js"></script>
  <script>
    let totalDispatch= {{totalDispatch}}
    let totalOrders= {{totalOrders}}
    let totalRevenue= {{totalRevenue}}
    let totalPending= {{totalPending}}
    let startDate= {{startDate}}
    let endDate= {{endDate}}
    {{!-- console.log(totalDispatch, totalOrders, totalRevenue,totalPending, startDate, endDate, {{totalDispatch}} ) --}}
    let categoryBody= []
    {{#each categories}}
      categoryBody.push([{{this.category}}, {{this.count}}, {{this.profit}}])
    {{/each}}
    let brandBody=[]
    {{#each byBrands}}
      brandBody.push([{{this._id}}, {{this.count}}, {{this.profit}}])
    {{/each}}

 
    const { jsPDF } = window.jspdf;
    function downloadPdf() {
      const doc= new jsPDF();
      {{!-- let salesReportHead='('+startDate+" - "+endDate+")" --}}
      doc.text(15, 20, "Timed Sales Report ");
      doc.autoTable({
        head: [['Type', 'Details']],
        body: [
              ['Total Orders', totalOrders],
              ['Total Revenue', totalRevenue],
              ['Total Pending', totalPending],
              ['Total Dispatch', totalDispatch],
              ],
        startY: 40
      })
       doc.text(15, doc.lastAutoTable.finalY+20, "sales By Category");
      doc.autoTable({
        head: [['Category', 'Sales Count', "sales profit"]],
        body: categoryBody,
        startY: doc.lastAutoTable.finalY + 30
      })
      doc.text(15, doc.lastAutoTable.finalY+20, "sales By Brand");
      doc.autoTable({
        head: [['Brand', 'Sales Count', 'sales profit']],
        body: brandBody,
        startY: doc.lastAutoTable.finalY + 30
      })
      
      doc.save('sales-report('+startDate+' - '+endDate+').pdf');
    }
    function downloadExcel(){
      let report=[
        {type:"Total Revenue", value:totalRevenue},
        {type:"Total Orders", value:totalOrders},
        {type:"Total Pending", value:totalPending},
        {type:"Total Dispatch", value:totalDispatch},
      ]
        var sheet1 = XLSX.utils.json_to_sheet(report);
        var wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, sheet1, "Sales Report");
        var sheet2 = XLSX.utils.json_to_sheet(brandXLSX);
        XLSX.utils.book_append_sheet(wb, sheet2, "Brands");
        
        var sheet3 = XLSX.utils.json_to_sheet(categories);
        XLSX.utils.book_append_sheet(wb, sheet3, "Categories");
        XLSX.writeFile(wb,'sales-report.xlsx');
    }
  </script>