<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2D2E34;">
    <div class="container-fluid d-flex">
        <a href="#" class="navbar-brand"><h2 class="text-white">TIMED</h2></a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
            <form class="d-flex ">
                <div class="input-group ">                    
                    <input type="text" class="form-control rounded-5 bg-secondary border-0" placeholder="Search Products">
                    <button type="button" class="btn btn-secondary rounded-5"><i class="bi-search"></i></button>
                </div>
            </form>
            <div class="navbar-nav d-flex gap-5">
                <a href="#" class="nav-item nav-link"><i class="bi bi-cart-fill"></i></a>
                <a href="#" class="nav-item nav-link"><i class="bi bi-heart-fill"></i></a>
                <a href="/logout" class="nav-item nav-link"><i class="bi bi-person-fill"></i></a>
            </div>
        
    </div>
</nav>

<div class="container image mt-3">
    <img src="/images/banner-1_1200x360.jpg" alt="">
</div>

<div class="product-section  container w-100 mt-3">
 
  <div class=" container row d-flex align-items-center justify-content-center">
{{#each products}}

    <div class="col-md-2 pro-cards mt-5  bg-light rounded-3">
      <a href="/singleProduct/{{this._id}}">
      <div class="img-sec">
         </div>
        <img src="/images/{{this.product.filename}}" alt="" srcset="">
        <div class="pro-head text-center"><h4>{{this.name}}</h4></div>
        <div class="pro-category w-100 text-center" > <h6>{{this.category}}</h6></div>
        <div class="pro-price text-center"><h5> Rs {{this.price}}</h5></div>
        <button class="btn btn-dark btn-lg btn-block pro-btn text-white">Add to Cart</button>
        </a>
    </div>
    
    {{/each}}
  </div>
</div>

