

<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="#">
                        <h2>TIMED.</h2>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/product-list">Store</a></li>
                        <li><a href="/userprofile">Profile</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="/wishlist"><img src="img/icon/heart-line.png" alt=""></a>
                    <a href="/cart"><img src="img/icon/shopping-cart-line.png" alt=""></a>
                    <a href="/logout"><img src="img/icon/logout-circle-r-line.png" alt=""></a>

                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shopping Cart</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Begin -->


<section class="shopping-cart spad">
    <div class="container">
        {{#if empty}}
        <div class="row">
            <div class="d-flex justify-content-center align-items-center">
                <img src="/img/empty.jpg" style="max-height: 300px; object-fit:contain" alt="">
                <h1>Cart is empty !</h1>
            </div>
        </div>
        {{else}}
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                            <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img src="/images/{{this.product.filename}}"
                                            style="height:100px; width:100px; object-fit:contain" alt="">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>{{this.name}}</h6>
                                        <h5>Rs.{{this.price}}</h5>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty-2">
                                            <a href="/dec-quantity/{{this._id}}"><span
                                                    class="fa fa-angle-left dec qtybtn"></span></a>
                                            <input type="text" value="{{this.cartQuantity}}" readonly>
                                            <a {{#if this.outOfStock}}href="#" {{else}}href="/inc-quantity/{{this._id}}"
                                                {{/if}}><span class="fa fa-angle-right dec qtybtn"></span></a>


                                        </div>
                                        {{#if this.outOfStock}}
                                        <b class="text-danger">Out Of Stock</b>
                                        {{/if}}
                                    </div>
                                </td>
                                <td class="cart__price">Rs.{{this.totalprice}}</td>
                                <td class="cart__close"><a href="/delete-cartItem/{{this._id}}"><i
                                            class="fa fa-close"></i></a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-lg-4">
                {{!-- {{#if coupon}}
                <b>Coupon Applied</b>
                {{else}}
                <div class="cart__discount">
                    <h6>Discount codes</h6>
                    <form action="/applycoupon" method="post">
                        <input type="text" placeholder="Coupon code" name="coupon">

                        <button type="submit">Apply</button>
                    </form>
                    <b class="text-danger">{{msg}}</b>
                </div>
                {{/if}} --}}

                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Total<span>Rs. {{totalprice}}</span></li>
                    </ul>
                    {{#if outOfStock}}
                    <a href="#" class="primary-btn" style="opacity:50%">Proceed to checkout</a>
                    {{else}}
                    <a href="/checkout" class="primary-btn">Proceed to checkout</a>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</section>

<!-- Shopping Cart Section End -->