<style>
    .coupon-box {
        width: 100%;
        display: flex;
        height: 50px;
        background-color: #fff;
        border: 1px solid rgb(211, 211, 211);

    }

    .coupon-box input,
    .coupon-box button {
        width: 100%;
        border: none;
        outline: none;
        background: none;

    }

    .coupon-box input {
        padding-left: 10px;
    }

    .coupon-box button {
        width: 100px;
        background-color: black;
        color: white;
    }
</style>

<div id="preloder">
    <div class="loader"></div>
</div>


<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="#">
                        <h2>TIMED.</h2>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/product-list">Store</a></li>
                        <li><a href="/userprofile">Profile</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="/wishlist"><img src="img/icon/heart-line.png" alt=""></a>
                    <a href="/cart"><img src="img/icon/shopping-cart-line.png" alt=""></a>
                    <a href="/logout"><img src="img/icon/logout-circle-r-line.png" alt=""></a>

                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Check Out</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <a href="./shop.html">Shop</a>
                        <span>Check Out</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <form action="/checkout" method="post">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <h6 class="checkout__title">Billing Details</h6>
                        <a href="/add-address"><button class="btn btn-dark text-white">Add Address</button></a>
                        {{#each address}}
                        <div class="row">
                            <div class="card mb-3">
                                <label for="{{this._id}}" class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex flex-row align-items-center">
                                            <div class="ms-3">
                                                <h5>{{this.name}}</h5>
                                                <p class="small mb-0">{{this.mobile}}</p>
                                                <p class="small mb-0">{{this.address}}</p>
                                                <p class="small mb-0">{{this.pincode}}</p>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center">
                                            <input type="radio" name="address" value="{{this._id}}" id="{{this._id}}"
                                                required>
                                        </div>
                                    </div>
                                    </>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="col-lg-4 col-md-6">


                        <div class="checkout__order">
                            <h4 class="order__title">Your order</h4>
                            <div class="checkout__order__products">Total Price<span>{{totalprice}}</span></div>

                            {{!-- <form action="" method="post"> --}}
                                <div class="coupon-box">
                                    <input type="text" placeholder="Coupon code" name="coupon" id="coupon">
                                    <button type="button" onclick="applyCoupon()">Apply</button>
                                </div>
                                <div id="message"></div>
                                {{!--
                            </form> --}}
                            <ul class="checkout__total__all">
                                {{!-- {{#if coupon}}
                                <li>Coupon Applied<span class="text-success">Rs.-{{coupon.discount}}</span></li>
                                {{/if}} --}}

                                <li>Amount Payable<span id="totalPrice">{{totalprice}}</span></li>
                            </ul>
                            <div class="checkout__input__checkbox">
                                <label for="online" id="online-input">
                                    <input type="radio" id="online" name="payment" value="online" required>
                                    Online Payment
                                </label>
                            </div>
                            <div class="checkout__input__checkbox">
                                <label for="cod">
                                    <input type="radio" id="cod" name="payment" value="cod" required>
                                    Cash On Delivery
                                </label>
                            </div>
                            <hr>
                            <div class="checkout__input__checkbox">
                                <label for="wallet-input" class="wallet-btn">
                                    <span>
                                    <input type="checkbox" id="wallet-input" name="wallet" value="true">
                                    <b>Apply Wallet</b> 
                                    </span>
                                    <b id="wallet">
                                        {{wallet}}
                                    </b>

                                </label>
                            </div>
                            <button type="submit" class="site-btn"><a href="/orderplaced" class="text-white">Place
                                    Order</a></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Checkout Section End -->



<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>

<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

<script>
    async function applyCoupon() {
        let coupon = document.getElementById('coupon').value
        let { data } = await axios.post("/applyCoupon", { coupon: coupon })
        console.log(data)
        let message = document.getElementById('message')
        if (data.error) {
            console.log(data.message)
            message.innerHTML = data.message
        } else {
            console.log(data.coupon.discount)
            message.innerHTML = "Coupon Applied"
            let totalPrice = document.getElementById('totalPrice')
            totalPrice.innerHTML = Number(totalPrice.innerHTML) - data.coupon.discount
        }
    }
    let walletAmount= {{wallet}}
    let totalPrice = Number(document.getElementById('totalPrice').innerHTML)
    let totalPriceElement = document.getElementById('totalPrice')

    document.getElementById('wallet-input').addEventListener('change', function(e){
    let wallet = document.getElementById('wallet')
        if(e.target.checked){
            if(walletAmount >= totalPrice){
                wallet.innerHTML= walletAmount-totalPrice;
                totalPriceElement.innerHTML=0
                document.getElementById('online-input').style.visibility="hidden"
                document.getElementById('online').value="cod"
            }else{
                totalPriceElement.innerHTML=totalPrice-walletAmount;
                wallet.innerHTML= 0;

            }
        }
        else{
            wallet.innerHTML= walletAmount;
            totalPriceElement.innerHTML=totalPrice;
                document.getElementById('online-input').style.visibility="visible"
                document.getElementById('online').value="online"

        }
    })
</script>