<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__nav__option">
        <a href="/wishlist"><img src="img/icon/heart-line.png" alt=""></a>
        <a href="/cart"><img src="img/icon/shopping-cart-line.png" alt=""></a>
        <a href="/logout"><img src="img/icon/logout-circle-r-line.png" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
</div>
<!-- Offcanvas Menu End -->
<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="#">
                        <h2>TIMED.</h2>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/product-list">Store</a></li>
                        <li><a href="/userprofile">Profile</a></li>
                    </ul>
                </nav>
            </div>
            {{#if user}}
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="/wishlist"><img src="img/icon/heart-line.png" alt=""></a>
                    <a href="/cart"><img src="img/icon/shopping-cart-line.png" alt=""></a>
                    <a href="/logout"><img src="img/icon/logout-circle-r-line.png" alt=""></a>

                </div>
            </div>
            {{/if}}
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>

<section class="hero">
    <div class="hero__slider owl-carousel">
        {{#each banners}}
        <div class="hero__items set-bg" data-setbg="/images/{{this.img}}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>{{this.caption}}</h6>
                            <h2>{{this.heading}}</h2>
                            <p>{{this.desc}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>

<!-- Hero Section End -->

<!-- Banner Section Begin -->
<section class="banner spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li class="active">Best Sellers</li>
                </ul>
            </div>
            <div class="col-lg-7 offset-lg-4">
                <div class="banner__item">
                    <div class="banner__item__pic">
                        <img src="/img/applewatch1.png" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Apple Watch Ultra</h2>
                        <a href="/product-list">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img src="/img/fitnesstrack.png" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Fastrack Reflex</h2>
                        <a href="/product-list">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner__item banner__item--last">
                    <div class="banner__item__pic">
                        <img src="/img/analog.png" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Tommy Hilfiger</h2>
                        <a href="/product-list">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li class="active">New Arrivals</li>
                </ul>
            </div>
        </div>
        <div class="row product__filter">
            {{#each products}}
            {{#if this.list}}
            <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                <div class="product__item sale">
                    <a href="/product/{{this._id}}">
                        <div class="product__item__pic set-bg" data-setbg="/images/{{this.product.filename}}">
                            <ul class="product__hover">
                                <li>
                                    <img src="img/icon/heart.png" alt=""
                                        onclick="event.preventDefault(); Wishlisted('{{this._id}}')">
                                </li>
                            </ul>
                        </div>
                    </a>
                    <div class="product__item__text">
                        <h6>{{this.name}}</h6>
                        <a class="add-cart" onclick="addToCart('{{this._id}}')">Add To Cart</a>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>Rs.{{this.price}}</h5>
                    </div>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</section>
<!-- Product Section End -->

<script>
    function Wishlisted(id) {
        axios.get('/addTowishlist/' + id).then((result) => {
            if(!result.data.login){
                window.location.href="/login"
            }else{
            if (result.data.success) {
                Swal.fire("Item Added to wishlist");
            } else {
                Swal.fire("Item Already Exist");
            }
            }
        });
    }

    function addToCart(id) {
        axios.get('/addtoCart/' + id).then((result) => {
            console.log(result.data)
            if(!result.data.login){
                window.location.href="/login"
            }else{
            if (result.data.success) {
                Swal.fire("Item Added To Cart");
            }
            else if(result.data.success==false){
                Swal.fire("Item Already Exist In Cart");
            }
            }
        });
    }
</script>