<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<style>
    .add-cart {
        cursor: pointer;

    }
</style>

<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__nav__option">
        <a href="/wishlist"><img src="img/icon/heart-line.png" alt=""></a>
        <a href="/cart"><img src="img/icon/shopping-cart-line.png" alt=""></a>
        <a href="/logout"><img src="img/icon/logout-circle-r-line.png" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="#">
                        <h2>TIMED.</h2>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="/product-list">Store</a></li>
                        <li><a href="/userprofile">Profile</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="/wishlist"><img src="img/icon/heart-line.png" alt=""></a>
                    <a href="/cart"><img src="img/icon/shopping-cart-line.png" alt=""></a>
                    <a href="/logout"><img src="img/icon/logout-circle-r-line.png" alt=""></a>

                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="#">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <form class="shop__sidebar" action="/product-list" method="get">
                    <div class="shop__sidebar__search">
                        <div class="fs-input-box">
                            <input type="text" placeholder="Search..." value="{{name}}" name="name">
                            <button type="submit"><span class="icon_search"></span></button>
                        </div>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">

                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFour">CATEGORY</a>
                                </div>
                                <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__size">
                                            <label for="all" style="width:100%" {{#if all}} class="active" {{/if}}>All
                                                <input type="radio" id="all" name="category"
                                                    onchange="this.form.submit()" value="">
                                            </label>
                                            {{#each category}}
                                            <label for="{{this.category}}" style="width:100%" {{#if this.selected}}
                                                class="active" {{/if}}>{{this.category}}
                                                <input type="radio" id="{{this.category}}" name="category" {{#if this.selected}}
                                                checked {{/if}}
                                                    onchange="this.form.submit()" value="{{this.category}}"> 
                                            </label>
                                            {{/each}}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p></p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sort by Price:</p>
                                <select name="sort" onchange="this.form.submit()">
                                    <option value="asc" {{#if selectedSort.asc}}selected{{/if}}>Low To High</option>
                                    <option value="dsc" {{#if selectedSort.dsc}}selected{{/if}}>High To Low</option>
                                </select>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                {{#if noitems}}
                <div class="row">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="/img/empty.jpg" style="max-height: 300px; object-fit:contain" alt="">
                        <h1>No Items !</h1>
                    </div>
                </div>
                {{else}}
                <div class="row">
                    {{#each products}}
                    {{#if this.list}}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <a href="/product/{{this._id}}">
                                <div class="product__item__pic set-bg" data-setbg="/images/{{this.product.filename}}">
                                    <ul class="product__hover">
                                        <li>
                                            <img src="img/icon/heart.png" alt=""
                                                onclick="event.preventDefault(); Wishlisted('{{this._id}}')">
                                        </li>
                                    </ul>
                                </div>
                            </a>

                            <div class="product__item__text">
                                <h6>{{this.name}}</h6>
                                <a class="add-cart" onclick="addToCart('{{this._id}}')">Add To Cart</a>
                                <h5>Rs.{{this.price}}</h5>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
                {{/if}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <a class="active" href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <span>...</span>
                            <a href="#">21</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->

<script>
    function Wishlisted(id) {
        axios.get('/addTowishlist/' + id).then((result) => {
            if (result.data.success) {
                Swal.fire("Item Added to wishlist");
            } else {
                Swal.fire("Item Already Exist");
            }
        });
    }

    function addToCart(id) {
        axios.get('/addtoCart/' + id).then((result) => {
            if (result.data.success) {
                Swal.fire("Item Added To Cart");
            } else {
                Swal.fire("Item Already Exist In Cart");
            }
        });
    }
</script>