<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="#">
                        <h2>TIMED.</h2>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/product-list">Store</a></li>
                        <li><a href="/userprofile">Profile</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="/wishlist"><img src="img/icon/heart-line.png" alt=""></a>
                    <a href="/cart"><img src="img/icon/shopping-cart-line.png" alt=""></a>
                    <a href="/logout"><img src="img/icon/logout-circle-r-line.png" alt=""></a>

                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Wishlist</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Begin -->

<section class="shopping-cart spad">
    <div class="container">
        {{#if empty}}
        <div class="row">
            <div class="d-flex justify-content-center align-items-center">
                <img src="/img/empty.jpg" style="max-height: 300px; object-fit:contain" alt="">
                <h1>Wish Something !</h1>
            </div>
        </div>
        {{else}}
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-6">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th colspan="2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each products}}
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="/images/{{this.product.filename}}"
                                                style="height:100px; width:100px; object-fit:contain" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>{{this.name}}</h6>
                                            <h5>Rs.{{this.price}}</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <button class="btn btn-dark rounded-0"><a href="/addtoCart/{{this._id}}"
                                                class="text-white">Add to Cart</a></button>
                                    </td>
                                    <td class="cart__close"><a href="/delete-wishlistItem/{{this._id}}"><i
                                                class="fa fa-close"></i></a></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</section>

<!-- Shopping Cart Section End -->